<a href="https://colab.research.google.com/github/Rohithsaravanan/ROHICHECK/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(int(input())):
  n=int(input())
  a=" "
  while(n>0):
    dig=n%10
    a=str(dig)+","+a
    print(a,end=" ")
    n//=10

1
512
2,  1,2,  5,1,2,

Narristic number

In [5]:
for _ in range(int(input())):
  n=int(input())
  x=len(str(n))
  m=0
  t=n
  while n!=0:
    dv=n%10
    m+=dv**x
    n//=10
  if m==t:
    print("narristic")
  else:
    print("not narristic")

3
1634
narristic
20
not narristic
12
not narristic

In [6]:
for _ in range(int(input())):
  n=int(input())
  x=len(str(n))
  t=n
  p=n
  c=0
  while(n>0):
    c+=1
    n//=10
  res=0
  while(t>0):
    dv=t%10
    res+=dv**c
    t//=10
  if(res==p):
    print("narristic")
  else:
    print("not narristic")

3
1634
narristic
567
not narristic
8990
not narristic

PATTERNS

In [10]:
x=int(input())
for i in range(x):
  for j in range(x):
    if i==0 or i==x-1 or j==0 or j==x-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

5
* * * * *
*       *
*       *
*       *
* * * * *

In [19]:
x=int(input())
for i in range(x):
  for j in range(x):
    if i==j or i+j==x-1 or j==0 or j==x-1 or i==x//2:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

7
*           *
* *       * *
*   *   *   *
* * * * * * *
*   *   *   *
* *       * *
*           *

Right angle triangle

In [28]:
n=int(input())
for i in range(n):
  for j in range(n):
    if i+j==n-1 or i==0 or j==0 :
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

5
* * * * *
*     *
*   *
* *
*

In [48]:
n=int(input())
for i in range(n):
  for j in range((n)):
    if  j==0 or i==j or i==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()
n-=1
for i in range(n):
  for j in range((n)):
    if  i+j==n-1 or j==0:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

7
*
* *
*   *
*     *
*       *
*         *
* * * * * * *
*         *
*       *
*     *
*   *
* *
*

Inverse of above pattern

In [53]:
n=int(input())
for i in range(n):
  for j in range((n)):
    if  j==0 and i==j and i==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()
n-=1
for i in range(n):
  for j in range((n)):
    if  i+j!=n-1 and j!=0:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

7







  * * * *
  * * *   *
  * *   * *
  *   * * *
    * * * *
  * * * * *



Alphabatical patterns

In [1]:
n=int(input())
for i in range(n):
  for j in range(i+1):
    print(chr(65+j),end=" ")
  print()

7
A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G

Arithematic pattern

In [6]:
n=int(input())
for i in range(n):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

7

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [8]:
n=int(input())
k=1
for i in range(n):
  for j in range(i+1):
    print(k,end=" ")
    k+=1
  print()

7
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28

In [11]:
n=int(input())
k=1
for i in range(n):
  for j in range(1,i+1):
    print(chr(k+64),end=" ")
    k+=1
  print()

6

A
B C
D E F
G H I J
K L M N O

In [26]:
n = int(input())
k = 10
for i in range(n - 1,-1,-1):
    for j in range(i - 1):
        print(k, end=" ")
        k -= 1
    print()

5
10 9 8
7 6
5

In [27]:
n = int(input())
k = n*(n+1)//2
for i in range(n,0,-1):
    for j in range(1,i +1):
        print(k, end=" ")
        k -= 1
    print()

5
15 14 13 12 11
10 9 8 7
6 5 4
3 2
1